.navbar-toggler {
	background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
	height: 3.5em;
	background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
	font-size: 1.2em;
}

.nav-items {
	display: flex;
	flex-direction: column;
	gap: .5em;
	padding: .5em;
}

.nav-item:last-of-type {
	padding-bottom: 1em;
}

.nav-item ::deep a {
	color: #d7d7d7;
	border-radius: .3em;
	min-height: 3em;
	display: flex;
	align-items: center;
}

	.nav-item ::deep a.active {
		background-color: rgba(255,255,255,0.25);
		color: white;
	}

	.nav-item ::deep a:hover {
		background-color: rgba(255,255,255,0.1);
		color: white;
	}

.oi {
	width: 2em;
	height: 1.2em;
	font-size: 1.4em;
	margin-top: -.1em;
}

	.oi.ac {
		background-color: #ccc;
		mask-size: contain;
		mask-image: url('/icons/heatpump.svg');
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-image: url('/icons/heatpump.svg');
		-webkit-mask-repeat: no-repeat;
	}

	.oi.cats {
		background-color: #ccc;
		mask-size: contain;
		mask-image: url('/icons/cat-face.svg');
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-image: url('/icons/cat-face.svg');
		-webkit-mask-repeat: no-repeat;
	}

	.oi.power {
		background-color: #ccc;
		mask-size: contain;
		mask-image: url('/icons/bolt.svg');
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-image: url('/icons/bolt.svg');
		-webkit-mask-repeat: no-repeat;
	}

	.oi.air {
		background-color: #ccc;
		mask-size: contain;
		mask-image: url('/icons/cloud.svg');
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-image: url('/icons/cloud.svg');
		-webkit-mask-repeat: no-repeat;
	}

	.oi.jelly {
		background-color: #ccc;
		mask-size: contain;
		mask-image: url('/icons/jellyfin.svg');
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-image: url('/icons/jellyfin.svg');
		-webkit-mask-repeat: no-repeat;
	}

	.oi.sonarr {
		background-image: url('/icons/sonarr-logo.svg');
		background-size: contain;
		background-repeat: no-repeat;
		filter: grayscale();
	}

	.oi.radarr {
		background-image: url('/icons/radarr-logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		filter: grayscale();
	}

@media (min-width: 641px) {
	.navbar-toggler {
		display: none;
	}

	.collapse {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}
}
