h1 {
	font-size: 2em;
	display: inline-flex;
	gap: 1em;
	place-content: space-between;
	position: sticky;
	top: 0;
	z-index: 99;
	background-color: #222d;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

	h3.time {
		text-align: center;
	}

h4 {
	font-size: 1.5em;
}

h1, h2, h3, h4 {
	margin: 0;
}

span.value {
	font-weight: bold;
}

.layout {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	gap: 1em;
}

.container {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.container.good .icon {
		background-color: #71a74c;
	}

	.container.bad .icon {
		background-color: #f66867;
	}

	.container.solar {
		grid-area: 1 / 1 / 1 / 3;
	}

	.container.battery {
		grid-area: 2 / 1;
	}

	.container.grid {
		grid-area: 2 / 2;
	}

	.container.home {
		grid-area: 3 / 1 / 3 / 3;
	}

.icon {
	width: 3em;
	height: 3em;
	-webkit-mask-size: contain;
	mask-size: contain;
	background-color: #ccc;
}
