h1 {
	display: flex;
	align-items: center;
	gap: .5em;
}

.events-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	padding: 0 2em;
}

	.events-container .event-date {
	}

		.events-container .event-date h2 {
			font-size: 1.5em;
			margin-bottom: .5em;
		}

		.events-container .event-date .events {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}

		.events-container .event-date .event {
			padding: 1em;
			background-color: #333;
			border-radius: .3em;
			filter: drop-shadow(2px 4px 6px #000);
		}

			.events-container .event-date .event a {
				display: flex;
				align-items: center;
				gap: 1em;
				font-size: 1.5em;
			}

			.events-container .event-date .event .preview {
				max-width: 4em;
			}

.icon {
	width: 2em;
	height: 2em;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: #ccc;
	display: inline-block;
}

	.icon:hover {
		background-color: #fff;
	}
